/* :host {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
}

app-header {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

app-team {
  display: flex;
  flex-direction: row;

} */
